
:root {
  --black-100: #080808;
  --black-70: rgba(8, 8, 8, 0.7);
  --black-40-outline: #363636;
  --black-90-bg: #0c0c0c;
  --black-60: #1a1a1a;
  --black-black-30: rgba(26, 26, 26, 0.3);
  --black-black-50: rgba(26, 26, 26, 0.4);
  --white-100-text: #fefefe;
  --white-90-bg: #fafafa;
  --white-50: rgba(250, 250, 250, 0.5);
  --white-70: rgba(250, 250, 250, 0.7);
  --white-20: rgba(250, 250, 250, 0.2);
  --button-black-bg-default: #080808;
  --button-black-bg-hover: #1a1a1a;
  --button-black-bg-loading: #363636;
  --button-white-bg-default: #fafafa;
  --button-white-bg-hover: rgba(241, 241, 241, 0.7);
  --button-white-bg-loading: #e4e4e4;
  --text-grey-idle: #7c7f82;
}

/* Light Mode*/


  @font-face {
      font-family: "noto-sans", sans-serif;
      src: local(NotoSans-Regular),
        url(/path/to/NotoSans-Regular.woff2) format("woff2"),
        url(/path/to/NotoSans-Regular.woff) format("woff"),
        url(/path/to/NotoSans-Regular.ttf) format("truetype");
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
    }
    @font-face {
      font-family: NotoSans;
      src: local(NotoSans-SemiBold),
        url(/path/to/NotoSans-SemiBold.woff2) format("woff2"),
        url(/path/to/NotoSans-SemiBold.woff) format("woff"),
        url(/path/to/NotoSans-SemiBold.ttf) format("truetype");
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
    }
    @font-face {
      font-family: NotoSans;
      src: local(NotoSans-ExtraBold),
        url(/path/to/NotoSans-ExtraBold.woff2) format("woff2"),
        url(/path/to/NotoSans-ExtraBold.woff) format("woff"),
        url(/path/to/NotoSans-ExtraBold.ttf) format("truetype");
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
    }
    .DesktopHeadline-1 {
      font-family: "noto-sans", sans-serif;
      font-size: 56px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
    }
    .DesktopHeadline-2 {
      font-family: "noto-sans", sans-serif;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.08;
      letter-spacing: normal;
    }
    .MobileHeadlineH1 {
      font-family: NotoSans;
      font-size: 32px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
    }
    .DesktopHeadline-3 {
      font-family: "noto-sans", sans-serif;
      font-size: 32px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
    }
    .MobileHeadlineH2 {
      font-family: "noto-sans", sans-serif;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
    }
    .DesktopHeadline-4 {
      font-family: "noto-sans", sans-serif;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
    }
    .MobileHeadlineH3 {
      font-family: NotoSans;
      font-size: 20px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
    }
    .DesktopHeadline-5 {
      font-family: "noto-sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
    }
    .DesktopHeadline-6 {
      font-family: NotoSans;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: 0.18px;
    }
    .Body1---Regular {
      font-family: "noto-sans", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
    }
    .MobileHeadlineH4 {
      font-family: NotoSans;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
    .MobileBody1 {
      font-family: NotoSans;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
    }
    .Body2---Regular {
      font-family: NotoSans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
    }
    .MobileSubtitlePlaceholder {
      font-family: NotoSans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
    }
    .MobileHeadlineH5 {
      font-family: NotoSans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
    }
    .MobileBody2 {
      font-family: NotoSans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
    }
    .Body3---Regular {
      font-family: NotoSans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: -0.03px;
    }
    .MobileSubtitleTitle {
      font-family: NotoSans;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }
    .MobileSubtitleDesc-1 {
      font-family: NotoSans;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
    }
    .MobileSubtitleDesc-2 {
      font-family: NotoSans;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preloader */
/* Center the preloader div */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 5s forwards;
  justify-items: center;
  place-items: center;
}

/* Style for the centered content */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


/* Style for the loading text at the bottom */
.loading-text {
  margin-bottom: 40px;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: var(--white-100-text);
  text-align: center;
  letter-spacing: 5px;
}


.preloader img{
  max-width: 260px;

}

/* Keyframe animation for fading out */
@keyframes fadeOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}



body{
  background-color: var(--black-90-bg);
  color: var(--white-100-text);
  transition: background-color 0.5s, color 0.5s;
  font-family: "noto-sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

body.light-mode {
  background-color: var(--white-90-bg);
  color: var(--black-100);
}

#content {
  display: none;    
}

/* Main Header */

.container {
  padding-top: 127px;
}

.logo--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 56px;
  background-color: var(--black-70);
  backdrop-filter: blur(10px);
  left: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;

}

.main-nav .logo img {
  max-height: 40px;
}

.logo-image {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}


.menu-item {
  padding-left: 32px;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  place-items: center;
}

#languagedropdown {
  background-color: transparent;
  color: var(--white-100-text);
  border: none;
  outline: none;
  font-size: 20px;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}


/* Sidebar Nav */
.aside-nav-menu {
  justify-content: safe;
  place-content: top;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-wrap: nowrap;
  padding-top: 80px;
  padding-left: 105px;
  padding-right: 80px;
  background-color: var(--black-100);
  overflow-y: auto;
  z-index: 90;
  position: fixed;
  max-width: 337px;
}

.aside-nav-menu ul {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside-nav-menu ul li:nth-child(5) {
  padding-bottom: 0;
}


.aside-nav a {
  color: var(--text-grey-idle);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex; 
  transition: ease-in-out 0.2s;  
}

.aside-nav a:hover {
  color: var(--button-white-bg-hover);
}

.aside-nav-menu ul li {
  margin-bottom: 32px;
}

.hover-rectangle {
  width: 0;
  height: 1px;
  animation: fadeIn 1s forwards;
  display: none;
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
  0% {
    width: 0;  /* Start width at 0 */
    opacity: 0.8; /* Start opacity at 0 */
  }

  100% {
    width: 100%; /* Full width */
    opacity: 1;  /* Fully faded in */
  }
}

.aside-nav li a:hover{
  .hover-rectangle {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e4e4e4;
    position: relative;
    
  }
}


.nav--icon {
  display: flex;
  align-items: center;
}


.nav--icon svg {
  margin-left: 8px;
}

ul .active .circle {
  background-color: #e4e4e4;
  width: 4px;
  height: 4px;
  border-radius: 99px;
  position: relative;
  margin-right: 8px;    
}

ul .active {
  display: inline-flex;
  align-items: center;
  color: var(--white-100-text);
  overflow: hidden;

}

ul .active .active-rectangle {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  position: relative;
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-top: 64px;
}

.social-icon svg {
  border-radius: 99px;
  display: flex;
  place-items: center;
  justify-items: center;
  justify-content: center;
  background-color: var(--black-60);
  padding: 8px;
  transition: ease-in-out 0.3s;
  height: 40px;
  width: 40px;
}

.social-icon svg:hover {
  border: #e4e4e4 1px solid;
}


.nav-clock {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--white-70);
}


.layout-container {  
  display: flex;
  flex-direction: row;

}

main {
  flex: 1;
  margin-left: 337px;
}


/* Hero Section */

.hero-section {
  padding-top: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 56px;
  width: 100%;

}

.hero-image svg{
  max-width: 520px;
  padding-left: 64px;
  min-width: 200px;
}

.multi-designer {
  display: inline-flex;
  align-items: center;
  color: var(--white-50);
}

.multi--name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.multi--name .DesktopHeadline-1{
  font-weight: bold;
}

.multi-designer .star-icon {
  padding-right: 8px;
  height: 24px;
}

.hero-text .Body1---Regular {
  max-width: 634px;
  color: var(--text-grey-idle);
  align-self: stretch;
  flex-grow: 0;
  line-height: 178%;
  padding-top: 8px; 
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  padding-top: 40px;
}

.primary-button {    
  padding: 16px 24px;
  background-color: var(--button-white-bg-default);
  color: var(--button-black-bg-default);
  border-radius: 99px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  display: inline-block;
  height: 56px;
}

.primary-button:hover {
  background-color: var(--button-white-bg-hover);
}


.secondary-button {    
  padding: 16px 24px;
  background-color: none;
  border: 2px solid var(--button-white-bg-default);
  color: var(--secondary-color);
  border-radius: 99px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  display: flex;
  gap: 4px;
  height: 56px;
  align-items: center;
}


.secondary-button:hover {
  background-color: var(--button-black-bg-hover);
}


/*----------------------------------------------------*/

/* Mobile Hero Section */
@media (max-width: 1150px) {


  .logo--menu ul {
    display: none;
  }

  .mobile-menu {
    display: block;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .aside-nav {
    display: none;
  }

  body {
    margin: 0 32px;
  }

  main {
    margin: 0;
    display: grid;
    padding-top: 8px;
  }

  .logo--menu {
    display: flex;
    justify-content: space-between;
    border: #e4e4e4 1px solid;
    border-radius: 99px;  
    padding: 8px 24px;
    margin-top: 24px;
    background-color: var(--black-70);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    margin:  16px 16px;
  }

  .main-nav .logo img {
    max-height: 24px;
  }

  .logo-image {
    left: 0;
    transform: translateX(0);
    position: relative;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;  
  }

  .multi-designer svg {
    height: 16px;
    padding-right: 0;
  }

  .multi-designer .star-icon {
    padding-right: 2px;
  }
  
  .hero-text h1{
    font-size: 32px;
  }

  .hero-text h4 {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 12px;
  }

  .hero-buttons .button {
    height: 36px;
    font-size: 12px;
    padding: 10px 54px;

  }

  .hero-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8px;
    padding-top: 8px; 
  }

  .hero-buttons .button {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: unset;
    padding: 10px 12px;
  }

  .hero-buttons .secondary-button {
    border-width: 0.5px;
  }

  .hero-buttons .secondary-button svg {
    height: 16px;
  }

  .hero-image svg {
    max-width: 250px;
    height: 300px;
    place-self: center;
    margin-top: 4px;
    padding-left: 0;
    margin-top: 24px;
    
  }

}

/*----------------------------------------------------*/
























/* Hide Preloader */
.redirected .preloader {
  display: none;
}